<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
      .responsive {
        width: 100%;
        height: auto;
      }
      </style>
    <title>Omkar Karpe</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

  <!-- Favicons -->
  {% load static %}
  <link href="{% static "img/favicon.png" %}" rel="icon">
  <link href="{% static "img/apple-touch-icon.png" % }" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
  <!-- Template Main CSS File -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>{% block title %}   {% endblock title %}</title>
  </head>
  <body>


  <!-- ======= Header ======= -->
<!-- End Header -->

      {% block body %}  
      
      <div class="container my-3">
        <div class="blog-post">
                <h2 class="blog-post-title">{{post.title}}</h2>
                <p class="blog-post-meta">{{post.timeStamp}} by <a href="#">{{post.author}}</a></p>
                <img style="    max-height: 100%;
                width: auto%;
                max-width: 100%;
                border: 4px solid red;
                vertical-align:middle;margin:20px" src="{{post.image.url}}" alt="" class="img-responsive center-block d-block mx-auto" width="300" height="300"> 
               <p style="margin-top:26px">{{post.content}}</p>
                <hr>
           </div> 
        </div>
      </div>{% endblock body %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  

    <script src="static/js/main.js"></script>
  </body>
</html>





















































































